# Binaries
*.out
/arcade

# Compilation
.build/
build/
*.a
*.o
result

# Your average CMake junk
CMakeFiles/
cmake_*
Makefile
CMakeCache.txt
CMakeDoxygen*
CMakeDoxyfile.in

# Documentation
ASS-doc.pdf

# Editors junk
*~
\#*#
*.swp
*.swo

# Reports
core.*
*.log
*.gcda
*.gcno

*.json
.vs*
.cache
