# Binaries
*.out
/arcade

# Compilation
.build/
build/
*.a
*.so
*.o
*.d
result

# Your average CMake junk
.cmake
CMakeFiles/
cmake_*
Makefile
CMakeCache.txt
CMakeDoxygen*
CMakeDoxyfile.in

# Documentation
doc/

# Editors junk
*~
\#*#
*.swp
*.swo

# Reports
core.*
*.log
*.gcda
*.gcno

*.json
.vs*
.cache
